[Config]
# determines if we use the TastyTrade production endpoint or the certification endpoint
use_prod=True

# Enable/Disable asking for Multi-Factor authentication
use_mfa=False

[Credentials]
username = gmatosbatista
password = TCqWk9h3XmVPPvk

# URI and WSS should not need to be changed unless tastytrade changes them
[URI]
cert=https://cert-api.tastytrade.com
prod=https://api.tastyworks.com

[WSS]
cert=wss://streamer.cert.tastyworks.com
prod=wss://streamer.tastyworks.com